<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rhdk.purchasingservice.mapper.AssetEntityInfoMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.rhdk.purchasingservice.pojo.entity.AssetEntityInfo">
                    <id column="ID" property="id"/>
                    <result column="ASSET_CAT_ID" property="assetCatId"/>
                    <result column="ASSET_TEMPL_ID" property="assetTemplId"/>
                    <result column="ASSET_TEMPL_VER" property="assetTemplVer"/>
                    <result column="NAME" property="name"/>
                    <result column="ITEM_NO" property="itemNo"/>
                    <result column="WAREHOUSE_ID" property="warehouseId"/>
                    <result column="ASSET_TYPE" property="assetType"/>
                    <result column="CHECKIN_ID" property="checkinId"/>
                    <result column="AMOUNT" property="amount"/>
                    <result column="DSCP" property="dscp"/>
                    <result column="CREATE_BY" property="createBy"/>
                    <result column="CREATE_DATE" property="createDate"/>
                    <result column="UPDATE_BY" property="updateBy"/>
                    <result column="UPDATE_DATE" property="updateDate"/>
                    <result column="ORG_ID" property="orgId"/>
                    <result column="DEL_FLAG" property="delFlag"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        ID, ASSET_CAT_ID, ASSET_TEMPL_ID, ASSET_TEMPL_VER, NAME, ITEM_NO, WAREHOUSE_ID, ASSET_TYPE, CHECKIN_ID, AMOUNT, DSCP, CREATE_BY, CREATE_DATE, UPDATE_BY, UPDATE_DATE, ORG_ID, DEL_FLAG
         </sql>


    <delete id="deleteEntitys">
        delete from T_ASSET_ENTITY_INFO where id in
        <foreach collection="detailAssetIds" item="id" index="index" open="(" close=")" separator=",">
            #{id,jdbcType=BIGINT}
        </foreach>
    </delete>

    <update id="updateEntityInfo">
        update T_ASSET_ENTITY_INFO set 1=1
        <if test="dto.itemNO !=null and dto.itemNO !=''">
            ,ITEM_NO=#{dto.itemNO}
        </if>
        <if test="dto.assetCatId !=null and dto.assetCatId !=''">
            ,ASSET_CAT_ID=#{dto.assetCatId}
        </if>
        <if test="dto.assetNumber !=null and dto.assetNumber !=''">
            ,AMOUNT=#{dto.assetNumber}
        </if>
        <if test="dto.moduleId !=null and dto.moduleId !=''">
            ,ASSET_TEMPL_ID=#{dto.moduleId}
        </if>
        <if test="dto.moduleVersion !=null and dto.moduleVersion !=''">
            ,ASSET_TEMPL_VER=#{dto.moduleVersion}
        </if>
        where id in
        <foreach collection="detailAssetIds" item="id" index="index" open="(" close=")" separator=",">
            #{id,jdbcType=BIGINT}
        </foreach>
        and del_flag=0
    </update>

    <update id="updateEntitys">
        update T_ASSET_ENTITY_INFO set del_flag=1 where id in
        <foreach collection="assetIds" item="id" index="index" open="(" close=")" separator=",">
            #{id,jdbcType=BIGINT}
        </foreach>
    </update>
</mapper>
