<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rhdk.purchasingservice.mapper.CommonMapper">

    <select id="getSupplyList" resultType="hashmap">
        select t.id as "id",t.cus_name as "custName",t.code as "code",t.shortname as "shortName" from T_customer t where
        t.DEL_FLAG=0
        <if test="companyName !=null and companyName !=''">
            and t.cus_name like ('%'||#{companyName}||'%')
        </if>
    </select>

    <select id="getIdsBySupplierName" resultType="java.lang.Long">
        select t.id from T_customer t where t.DEL_FLAG=0
        <if test="companyName !=null and companyName !=''">
            and t.cus_name like ('%'||#{companyName}||'%')
        </if>
    </select>

    <!--获取资产模板下拉列表-->
    <select id="getAssetInfoList" resultType="hashmap">
   	 SELECT t.id as "id",t.ASSET_CAT_ID as "assetCatId",t.NAME as "name",t.ITEM_NO as "itemNo",t.VER_NO as "verNO",t.WM_TYPE as "wmType"
		 from T_ASSET_TMPL_INFO t where t.DEL_FLAG=0
    </select>

    <!--获取公共属性集合-->
    <select id="getCommonPrpts" resultType="hashmap">
        select * from (select DISTINCT p.PRPT_ID,t.name,p.PRPT_ORDER from T_ASSET_TMPL_PRPTS p LEFT JOIN T_ASSET_PRPT_INFO t on p.PRPT_ID=t.id  where p.DEFAULT_FLAG=0 and p.DEL_FLAG=0
        )ORDER BY PRPT_ORDER asc
    </select>

    <!--根据模板去获取对应的模板默认属性值-->
    <select id="getModulePrptsById" parameterType="java.lang.Long" resultType="hashmap">
         select p.PRPT_ID,p.PRPT_VALUE from T_ASSET_TMPL_PRPTS p where p.DEFAULT_FLAG=0 and p.DEL_FLAG=0 and p.ASSET_TEMP_ID=#{moduleId}
         ORDER BY p.PRPT_ORDER asc
    </select>

</mapper>
