<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rhdk.contractservice.mapper.ContractCustMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rhdk.purchasingservice.pojo.entity.ContractCust">
        <id column="ID" property="id"/>
        <result column="CONTRACT_ID" property="contractId"/>
        <result column="CUST_ID" property="custId"/>
        <result column="CUST_TYPE" property="custType"/>
        <result column="BANK_ACCOUNT_ID" property="bankAccountId"/>
        <result column="DSCP" property="dscp"/>
        <result column="CREATE_BY" property="createBy"/>
        <result column="CREATE_DATE" property="createDate"/>
        <result column="UPDATE_BY" property="updateBy"/>
        <result column="UPDATE_DATE" property="updateDate"/>
        <result column="ORG_ID" property="orgId"/>
        <result column="DEL_FLAG" property="delFlag"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, CONTRACT_ID, CUST_ID, CUST_TYPE, BANK_ACCOUNT_ID, DSCP, CREATE_BY, CREATE_DATE, UPDATE_BY, UPDATE_DATE, ORG_ID, DEL_FLAG
         </sql>
</mapper>
