<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rhdk.contractservice.mapper.MotionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rhdk.purchasingservice.pojo.entity.Motion">
        <id column="ID" property="id"/>
        <result column="PROJECT_ID" property="projectId"/>
        <result column="MOTION_NAME" property="motionName"/>
        <result column="MOTION_NO" property="motionNo"/>
        <result column="MOTION_DATE" property="motionDate"/>
        <result column="DSCP" property="dscp"/>
        <result column="CREATE_BY" property="createBy"/>
        <result column="CREATE_DATE" property="createDate"/>
        <result column="UPDATE_BY" property="updateBy"/>
        <result column="UPDATE_DATE" property="updateDate"/>
        <result column="ORG_ID" property="orgId"/>
        <result column="DEL_FLAG" property="delFlag"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, PROJECT_ID, MOTION_NAME, MOTION_NO, MOTION_DATE, DSCP, CREATE_BY, CREATE_DATE, UPDATE_BY, UPDATE_DATE, ORG_ID, DEL_FLAG
         </sql>


</mapper>
