<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rhdk.purchasingservice.mapper.OrderDelivemiddleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rhdk.purchasingservice.pojo.entity.OrderDelivemiddle">
        <id column="ID" property="id"/>
        <result column="DELIVERY_ID" property="deliveryId"/>
        <result column="DELIVERYDETAIL_CODE" property="deliverydetailCode"/>
        <result column="SIGN_NO" property="signNo"/>
        <result column="MODULE_ID" property="moduleId"/>
        <result column="PRPT_IDS" property="prptIds"/>
        <result column="ASSET_NUMBER" property="assetNumber"/>
        <result column="TOTAL_MONEY" property="totalMoney"/>
        <result column="DEL_FLAG" property="delFlag"/>
        <result column="CREATE_DATE" property="createDate"/>
        <result column="CREATE_BY" property="createBy"/>
        <result column="UPDATE_DATE" property="updateDate"/>
        <result column="UPDATE_BY" property="updateBy"/>
        <result column="REMARK" property="remark"/>
        <result column="SIGN_STATUS" property="signStatus"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, DELIVERY_ID, DELIVERYDETAIL_CODE, SIGN_NO,SIGN_STATUS, MODULE_ID, PRPT_IDS, ASSET_NUMBER,TOTAL_MONEY, DEL_FLAG, CREATE_DATE, CREATE_BY, UPDATE_DATE, UPDATE_BY, REMARK
         </sql>

    <select id="getTitleMap" resultType="hashmap" parameterType="java.lang.Long">
    select p.PRPT_ID,pr.name,p.ASSET_TEMP_ID,p.PRPT_order,pr.code,p.PK_FLAG
    from T_ASSET_TMPL_PRPTS p left join T_ASSET_PRPT_INFO pr on p.PRPT_ID=pr.id where p.ASSET_TEMP_ID=#{moduleId}  and p.DEFAULT_FLAG=1 and p.del_flag=0
    ORDER BY p.PRPT_order asc
    </select>

    <select id="getMIdsByDeliveryId" resultType="java.lang.Long" parameterType="java.lang.Long">
        select id from T_ORDER_DELIVEMIDDLE where DELIVERY_ID=#{id} and del_flag=0
    </select>

    <select id="getSignStatus" resultType="map">
 WITH tb AS ( SELECT DISTINCT DELIVERY_ID, SIGN_STATUS FROM T_ORDER_DELIVEMIDDLE WHERE del_flag = 0 GROUP BY DELIVERY_ID, SIGN_STATUS ORDER BY DELIVERY_ID ) SELECT
DELIVERY_ID,
CASE

		WHEN sum(
			SIGN_STATUS） = 0 THEN
				0
				WHEN sum(
					SIGN_STATUS） = 2 THEN
						2 ELSE 1
					END AS SIGN_STATUS
from tb GROUP BY DELIVERY_ID
    </select>

    <select id="getEntitysKey" resultType="java.lang.Long" useCache="false" flushCache="true">
        select T_ASSET_ENTITY_INFO_SEQ.NEXTVAL FROM dual
    </select>

    <select id="getPrptsKey" resultType="java.lang.Long" useCache="false" flushCache="true">
        select T_ASSET_ENTITY_PRPT_SEQ.NEXTVAL FROM dual
    </select>

    <select id="getDetailsKey" resultType="java.lang.Long" useCache="false" flushCache="true">
        select T_ORDER_DELIVEDETAIL_SEQ.NEXTVAL FROM dual
    </select>

    <insert id="insertEntitysPlan" parameterType="java.util.List" useGeneratedKeys="false">
        insert all
        <foreach collection="assetEntityList" item="item" index="index">
            into T_ASSET_ENTITY_INFO(
            ID,ASSET_CAT_ID, ASSET_TEMPL_ID,
            <if test="item.assetTemplVer !=null and item.assetTemplVer !=''">
                ASSET_TEMPL_VER,
            </if>
            <if test="item.name !=null and item.name !=''">
                NAME,
            </if>
            <if test="item.itemNo !=null and item.itemNo !=''">
                ITEM_NO,
            </if>
            AMOUNT,
            <if test="item.dscp !=null and item.dscp !=''">
                DSCP,
            </if>
            <if test="item.createBy !=null and item.createBy !=''">
                CREATE_BY,
            </if>
            CREATE_DATE,
            <if test="item.orgId !=null and item.orgId !=''">
                ORG_ID,
            </if>
            ASSET_STATUS
            )
            values (#{item.id},
            #{item.assetCatId},
            #{item.assetTemplId},
            <if test="item.assetTemplVer !=null and item.assetTemplVer !=''">
                #{item.assetTemplVer},
            </if>
            <if test="item.name !=null and item.name !=''">
                #{item.name},
            </if>
            <if test="item.itemNo !=null and item.itemNo !=''">
                #{item.itemNo},
            </if>
            #{item.amount},
            <if test="item.dscp !=null and item.dscp !=''">
                #{item.dscp},
            </if>
            <if test="item.createBy !=null and item.createBy !=''">
                #{item.createBy},
            </if>
            sysdate,
            <if test="item.orgId !=null and item.orgId !=''">
                #{item.orgId},
            </if>
            #{item.assetStatus}
            )
        </foreach>
        SELECT 1 FROM DUAL
    </insert>

    <insert id="insertPrptsPlan" parameterType="java.util.List" useGeneratedKeys="false">
        insert all
        <foreach collection="assetPrptList" item="item" index="index">
            into T_ASSET_ENTITY_PRPT (ID, ASSET_ID, PRPT_ID,
            <if test="item.code !=null and item.code !=''">
                CODE,
            </if>
            <if test="item.val !=null and item.val !=''">
                VAL,
            </if>
            <if test="item.createBy !=null and item.createBy !=''">
                CREATE_BY,
            </if>
            CREATE_DATE)
            values
            (#{item.id},#{item.assetId},#{item.prptId},
            <if test="item.code !=null and item.code !=''">
                #{item.code},
            </if>
            <if test="item.val !=null and item.val !=''">
                #{item.val},
            </if>
            <if test="item.createBy !=null and item.createBy !=''">
                #{item.createBy},
            </if>
            sysdate)
        </foreach>
        SELECT 1 FROM DUAL
    </insert>

    <insert id="insertDetailsPlan" parameterType="java.util.List" useGeneratedKeys="false">
        insert all
        <foreach collection="orderDetailList" item="item" index="index">
            into T_ORDER_DELIVEDETAIL (ID, ASSET_ID,
            <if test="item.middleId !=null and item.middleId !=''">
                MIDDLE_ID,
            </if>
            <if test="item.assetName !=null and item.assetName !=''">
                ASSET_NAME,
            </if>
            <if test="item.assetCatSearchKey !=null and item.assetCatSearchKey !=''">
                ASSET_CAT_SEARCH_KEY,
            </if>
            <if test="item.itemNo !=null and item.itemNo !=''">
                ITEM_NO,
            </if>
            ASSET_CAT_ID,
            ASSET_NUMBER,
            <if test="item.createBy !=null and item.createBy !=''">
                CREATE_BY,
            </if>
            CREATE_DATE)
            values
            (#{item.id},#{item.assetId},
            <if test="item.middleId !=null and item.middleId !=''">
                #{item.middleId},
            </if>
            <if test="item.assetName !=null and item.assetName !=''">
                #{item.assetName},
            </if>
            <if test="item.assetCatSearchKey !=null and item.assetCatSearchKey !=''">
                #{item.assetCatSearchKey},
            </if>
            <if test="item.itemNo !=null and item.itemNo !=''">
                #{item.itemNo},
            </if>
            #{item.assetCatId},#{item.assetNumber},
            <if test="item.createBy !=null and item.createBy !=''">
                #{item.createBy},
            </if>
            sysdate)
        </foreach>
        SELECT 1 FROM DUAL
    </insert>

    <select id="selectMiddleList" resultType="com.rhdk.purchasingservice.pojo.vo.OrderDelivemiddleVO">
        select
        <include refid="Base_Column_List"/>
        from T_ORDER_DELIVEMIDDLE where del_flag=0
        <if test="dto.deliveryId!=null and dto.deliveryId!=''">
            and DELIVERY_ID=#{dto.deliveryId}
        </if>
        <if test="dto.moduleId!=null and dto.moduleId!=''">
            and MODULE_ID=#{dto.moduleId}
        </if>
        <if test="dto.signStatus!=null">
            and SIGN_STATUS=#{dto.signStatus}
        </if>
        <if test="dto.id!=null and dto.id!=''">
            and ID=#{dto.id}
        </if>
        order by CREATE_DATE desc
    </select>
    <select id="selectMiddleList2" resultType="com.rhdk.purchasingservice.pojo.vo.OrderDelivemiddleVO">
        select
        <include refid="Base_Column_List"/>
        from T_ORDER_DELIVEMIDDLE where del_flag=0
        order by CREATE_DATE desc
    </select>

    <select id="selectListByIds" resultType="com.rhdk.purchasingservice.pojo.entity.OrderDelivemiddle">
        select
        <include refid="Base_Column_List"/>
        from T_ORDER_DELIVEMIDDLE where del_flag=0
        and id in
        <foreach collection="ids" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
</mapper>
