<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rhdk.purchasingservice.mapper.OrderDelivedetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rhdk.purchasingservice.pojo.entity.OrderDelivedetail">
        <id column="ID" property="id"/>
        <result column="MIDDLE_ID" property="middleId"/>
        <result column="ASSET_NAME" property="assetName"/>
        <result column="ITEM_NO" property="itemNo"/>
        <result column="ASSET_ID" property="assetId"/>
        <result column="ASSET_CAT_ID" property="assetCatId"/>
        <result column="ASSET_CAT_SEARCH_KEY" property="assetCatSearchKey"/>
        <result column="ASSET_NUMBER" property="assetNumber"/>
        <result column="CREATE_BY" property="createBy"/>
        <result column="CREATE_DATE" property="createDate"/>
        <result column="UPDATE_BY" property="updateBy"/>
        <result column="UPDATE_DATE" property="updateDate"/>
        <result column="DEL_FLAG" property="delFlag"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, MIDDLE_ID, ASSET_NAME, ITEM_NO, ASSET_ID,ASSET_CAT_ID,ASSET_CAT_SEARCH_KEY, ASSET_NUMBER,CREATE_BY, CREATE_DATE, UPDATE_BY, UPDATE_DATE, DEL_FLAG
         </sql>

    <update id="deleteDeliveDetails">
        update T_ORDER_DELIVEDETAIL set DEL_FLAG=1 where ASSET_ID in
        <foreach collection="detailAssetIds" item="id" index="index" open="(" close=")" separator=",">
            #{id,jdbcType=BIGINT}
        </foreach>
    </update>

    <update id="updateDetails">
        update T_ORDER_DELIVEDETAIL set ASSET_NUMBER=#{dto.assetNumber}
        <if test="dto.itemNO !=null and dto.itemNO !=''">
            ,ITEM_NO=#{dto.itemNO}
        </if>
        <if test="dto.assetCatId !=null and dto.assetCatId !=''">
            ,ASSET_CAT_ID=#{dto.assetCatId}
        </if>
        <if test="dto.assetCatSearchKey !=null and dto.assetCatSearchKey !=''">
            ,ASSET_CAT_SEARCH_KEY=#{dto.assetCatSearchKey}
        </if>
        where ASSET_ID in
        <foreach collection="detailAssetIds" item="id" index="index" open="(" close=")" separator=",">
            #{id,jdbcType=BIGINT}
        </foreach>
        <if test="dto.id !=null and dto.id !=''">
            and MIDDLE_ID=#{dto.id}
        </if>
        and DEL_FLAG=0
    </update>

    <select id="getAssetIdsByDId" resultType="java.lang.Long">
        select ASSET_ID from T_ORDER_DELIVEDETAIL where DEL_FLAG=0 and MIDDLE_ID in
        <foreach collection="middleIds" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <update id="updateDetailsDel">
        update T_ORDER_DELIVEDETAIL set DEL_FLAG=1,UPDATE_DATE=sysdate,UPDATE_BY=#{updateBy} where MIDDLE_ID=#{id} and
        ASSET_ID in
        <foreach collection="assetIds" item="id" index="index" open="(" close=")" separator=",">
            #{id,jdbcType=BIGINT}
        </foreach>
    </update>


    <select id="getEntityIdsByMid" parameterType="java.lang.Long" resultType="java.util.Map">
        select * from (select MIDDLE_ID as middleId,listagg(ASSET_ID,',') within group (order by ASSET_ID ) as ids from
        T_ORDER_DELIVEDETAIL
        where DEL_FLAG=0 and MIDDLE_ID is not null
        <if test="middleIds != null and middleIds.size() > 0">
            and MIDDLE_ID in
            <foreach collection="middleIds" item="id" index="index" open="(" close=")" separator=",">
                #{id,jdbcType=BIGINT}
            </foreach>
        </if>
        GROUP BY MIDDLE_ID) where ids is not null
    </select>
</mapper>
