<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rhdk.purchasingservice.mapper.OrderDelivemiddleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rhdk.purchasingservice.pojo.entity.OrderDelivemiddle">
        <id column="ID" property="id"/>
        <result column="DELIVERY_ID" property="deliveryId"/>
        <result column="DELIVERYDETAIL_CODE" property="deliverydetailCode"/>
        <result column="SIGN_NO" property="signNo"/>
        <result column="MODULE_ID" property="moduleId"/>
        <result column="PRPT_IDS" property="prptIds"/>
        <result column="ASSET_NUMBER" property="assetNumber"/>
        <result column="TOTAL_MONEY" property="totalMoney"/>
        <result column="DEL_FLAG" property="delFlag"/>
        <result column="CREATE_DATE" property="createDate"/>
        <result column="CREATE_BY" property="createBy"/>
        <result column="UPDATE_DATE" property="updateDate"/>
        <result column="UPDATE_BY" property="updateBy"/>
        <result column="REMARK" property="remark"/>
        <result column="SIGN_STATUS" property="signStatus"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, DELIVERY_ID, DELIVERYDETAIL_CODE, SIGN_NO,SIGN_STATUS, MODULE_ID, PRPT_IDS, ASSET_NUMBER,TOTAL_MONEY, DEL_FLAG, CREATE_DATE, CREATE_BY, UPDATE_DATE, UPDATE_BY, REMARK
         </sql>

    <select id="getTitleMap" resultType="hashmap" parameterType="java.lang.Long">
    select p.PRPT_ID,pr.name,p.ASSET_TEMP_ID,p.PRPT_order,pr.code,p.PK_FLAG
    from T_ASSET_TMPL_PRPTS p left join T_ASSET_PRPT_INFO pr on p.PRPT_ID=pr.id where p.ASSET_TEMP_ID=#{moduleId}  and p.PRPT_VALUE is null and p.del_flag=0
    ORDER BY p.PRPT_order asc
    </select>

    <select id="getTitleList" resultType="hashmap" parameterType="java.lang.Long">
      select p.PRPT_ID,pr.name,p.ASSET_TEMP_ID,p.PRPT_order,p.PK_FLAG,pr.code,p.PRPT_VALUE
    from T_ASSET_TMPL_PRPTS p left join T_ASSET_PRPT_INFO pr on p.PRPT_ID=pr.id where p.ASSET_TEMP_ID=#{moduleId} and p.del_flag=0
    ORDER BY p.PRPT_order asc
    </select>

    <select id="getMIdsByDeliveryId" resultType="java.lang.Long" parameterType="java.lang.Long">
        select id from T_ORDER_DELIVEMIDDLE where DELIVERY_ID=#{id} and del_flag=0
    </select>

    <select id="getSignStatus" resultType="java.lang.Integer" parameterType="java.lang.Long">
        select distinct SIGN_STATUS from T_ORDER_DELIVEMIDDLE where DELIVERY_ID=#{id} and del_flag=0
    </select>

    <select id="getEntitysKey" resultType="java.lang.Long" useCache="false" flushCache="true">
        select T_ASSET_ENTITY_INFO_SEQ.NEXTVAL FROM dual
    </select>

    <select id="getPrptsKey" resultType="java.lang.Long" useCache="false" flushCache="true">
        select T_ASSET_ENTITY_PRPT_SEQ.NEXTVAL FROM dual
    </select>

    <select id="getDetailsKey" resultType="java.lang.Long" useCache="false" flushCache="true">
        select T_ORDER_DELIVEDETAIL_SEQ.NEXTVAL FROM dual
    </select>

    <insert id="insertEntitysPlan" parameterType="java.util.List" useGeneratedKeys="false">
        insert all
        <foreach collection="assetEntityList" item="item" index="index">
            into T_ASSET_ENTITY_INFO(
            ID,ASSET_CAT_ID, ASSET_TEMPL_ID,ASSET_TEMPL_VER,
            <if test="item.name !=null and item.name !=''">
                NAME,
            </if>
            ITEM_NO,AMOUNT,
            DSCP,CREATE_BY,CREATE_DATE,ORG_ID,
            ASSET_STATUS
            )
            values (#{item.id},
            #{item.assetCatId},
            #{item.assetTemplId},
            #{item.assetTemplVer},
            <if test="item.name !=null and item.name !=''">
                #{item.name},
            </if>
            #{item.itemNo},
            #{item.amount},
            #{item.dscp},
            #{item.createBy},
            sysdate,
            #{item.orgId},
            #{item.assetStatus}
            )
        </foreach>
        SELECT 1 FROM DUAL
    </insert>

    <insert id="insertPrptsPlan" parameterType="java.util.List" useGeneratedKeys="false">
        insert all
        <foreach collection="assetPrptList" item="item" index="index">
            into T_ASSET_ENTITY_PRPT (ID, ASSET_ID, PRPT_ID, CODE, VAL, CREATE_BY, CREATE_DATE,SAVE_STATUS)
            values
            (#{item.id},#{item.assetId},#{item.prptId},#{item.code},#{item.val},#{item.createBy},sysdate,#{item.saveStatus})
        </foreach>
        SELECT 1 FROM DUAL
    </insert>

    <insert id="insertDetailsPlan" parameterType="java.util.List" useGeneratedKeys="false">
        insert all
        <foreach collection="orderDetailList" item="item" index="index">
            into T_ORDER_DELIVEDETAIL (ID, ASSET_ID,
            <if test="item.assetName !=null and item.assetName !=''">
                ASSET_NAME,
            </if>
            ITEM_NO, ASSET_CAT_ID, ASSET_NUMBER,CREATE_BY,
            CREATE_DATE,SAVE_STATUS)
            values
            (#{item.id},#{item.assetId},
            <if test="item.assetName !=null and item.assetName !=''">
                #{item.assetName},
            </if>
            #{item.itemNo},#{item.assetCatId},#{item.assetNumber},#{item.createBy},sysdate,#{item.saveStatus})
        </foreach>
        SELECT 1 FROM DUAL
    </insert>
</mapper>
