<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rhdk.purchasingservice.mapper.OrderContractMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rhdk.purchasingservice.pojo.entity.OrderContract">
        <id column="ID" property="id"/>
        <result column="CONTRACT_DATE" property="contractDate"/>
        <result column="CONTRACT_CODE" property="contractCode"/>
        <result column="CONTRACT_NAME" property="contractName"/>
        <result column="CONTRACT_TYPE" property="contractType"/>
        <result column="CONTRACT_MONEY" property="contractMoney"/>
        <result column="DEL_FLAG" property="delFlag"/>
        <result column="CREATE_DATE" property="createDate"/>
        <result column="CREATE_BY" property="createBy"/>
        <result column="UPDATE_DATE" property="updateDate"/>
        <result column="UPDATE_BY" property="updateBy"/>
        <result column="REMARK" property="remark"/>
        <result column="ORG_ID" property="orgId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, CONTRACT_DATE, CONTRACT_CODE, CONTRACT_NAME,CONTRACT_TYPE,ORG_ID, CONTRACT_MONEY,DEL_FLAG, CREATE_DATE, CREATE_BY, UPDATE_DATE, UPDATE_BY, REMARK
         </sql>

    <select id="selectContractById" resultType="com.rhdk.purchasingservice.pojo.vo.OrderContractVO">
        select o.id as "orderId",c.contract_name as "contractName",c.contract_code as "contractCode",
        CONTRACT_TYPE as "contractType",c.Contract_money as "contractMoney",
        o.contract_id as "contractId",
        o.contract_company as "contractCompany",c.CONTRACT_DATE as "contractDate",c.CREATE_DATE as "createDate" from
        T_ORDER_CONTRACT o LEFT JOIN T_CONTRACT c on o.CONTRACT_ID=c.ID
        where o.DEL_FLAG=0 and c.DEL_FLAG=0
        <if test="orderId !=null and orderId !=''">
            and o.id=#{orderId}
        </if>
        <if test="contractId !=null and contractId !=''">
            and o.contract_id=#{contractId}
        </if>
    </select>

    <select id="getContractIdList" resultType="java.lang.Long">
        select CONTRACT_ID from T_ORDER_CONTRACT where DEL_FLAG=0
        <if test="dto.contractCompany !=null and dto.contractCompany !=''">
            and CONTRACT_COMPANY like
            ('%'||#{dto.contractCompany}||'%')
        </if>
        <if test="dto.id!=null and dto.id!=''">
            and ID=#{dto.id}
        </if>
        order by CREATE_DATE desc
    </select>

    <update id="updateContract">
        update T_ORDER_CONTRACT set CONTRACT_COMPANY=#{contractCompany},UPDATE_DATE=sysdate,UPDATE_BY=#{userId},ORG_ID=#{orgId} where CONTRACT_ID=#{id} and DEL_FLAG=0
    </update>

    <select id="selectContractList" resultType="com.rhdk.purchasingservice.pojo.vo.OrderContractVO">
        select
        <include refid="Base_Column_List"/>
        from T_CONTRACT where DEL_FLAG=0
        <if test="dto.contractCode !=null and dto.contractCode !=''">
            and CONTRACT_CODE like
            ('%'||#{dto.contractCode}||'%')
        </if>
        <if test="dto.contractName !=null and dto.contractName !=''">
            and CONTRACT_NAME like
            ('%'||#{dto.contractName}||'%')
        </if>
        <if test="orgId !=null and orgId !=''">
            and ORG_ID =#{orgId}
        </if>
        <if test="dto.contractIds != null and dto.contractIds.size()>0">
            and ID in
            <foreach collection="dto.contractIds" item="cid" index="index" open="(" close=")" separator=",">
                #{cid}
            </foreach>
        </if>
        order by CREATE_DATE desc
    </select>

    <select id="selectContractList2" resultType="com.rhdk.purchasingservice.pojo.vo.OrderContractVO">
        select
        <include refid="Base_Column_List"/>
        from T_CONTRACT where DEL_FLAG=0
        <if test="dto.orgId !=null and dto.orgId !=''">
            and ORG_ID =#{dto.orgId}
        </if>
        order by CREATE_DATE desc
    </select>

    <select id="getTemplIds" resultType="java.lang.Long">
         select id from T_ASSET_TMPL_INFO where del_flag=0 order by id asc
    </select>
</mapper>
