<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rhdk.purchasingservice.mapper.OrderAttachmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rhdk.purchasingservice.pojo.entity.OrderAttachment">
        <id column="ID" property="id"/>
        <result column="ORGFILENAME" property="orgfilename"/>
        <result column="FILEURL" property="fileurl"/>
        <result column="DISCRIPTION" property="discription"/>
        <result column="CREATE_DATE" property="createDate"/>
        <result column="CREATE_BY" property="createBy"/>
        <result column="UPDATE_DATE" property="updateDate"/>
        <result column="UPDATE_BY" property="updateBy"/>
        <result column="REMARK" property="remark"/>
        <result column="ATTTYPE" property="atttype"/>
        <result column="PARENT_ID" property="parentId"/>
        <result column="DEL_FLAG" property="delFlag"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, ORGFILENAME, FILEURL, DISCRIPTION,PARENT_ID,CREATE_DATE, CREATE_BY, UPDATE_DATE, UPDATE_BY, REMARK, ATTTYPE, DEL_FLAG
         </sql>

    <update id="deleteAttachmentByParentId">
        update T_ORDER_ATTACHMENT set DEL_FLAG=1 where PARENT_ID=#{id}
    </update>
</mapper>
