<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mukutech.websiteservice.mapper.SysAdviceMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.mukutech.websiteservice.pojo.entity.SysAdvice">
                    <id column="id" property="id"/>
                    <result column="title" property="title"/>
                    <result column="msg" property="msg"/>
                    <result column="email" property="email"/>
                    <result column="create_time" property="createTime"/>
                    <result column="state" property="state"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, title, msg, email, create_time, state
        </sql>



</mapper>
