<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mukutech.websiteservice.mapper.SysCorpMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.mukutech.websiteservice.pojo.entity.SysCorp">
                    <id column="id" property="id"/>
                    <result column="name" property="name"/>
                    <result column="mini_name" property="miniName"/>
                    <result column="address" property="address"/>
                    <result column="phone" property="phone"/>
                    <result column="email" property="email"/>
                    <result column="zip_code" property="zipCode"/>
                    <result column="copyright" property="copyright"/>
                    <result column="ICP_code" property="icpCode"/>
                    <result column="order_id" property="orderId"/>
                    <result column="state" property="state"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, name, mini_name, address, phone, email, zip_code, copyright, ICP_code, order_id, state
        </sql>



</mapper>
