<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mukutech.seapersonservice.mapper.TestDemoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mukutech.seapersonservice.pojo.entity.TestDemo">
        <id column="id" property="id"/>
        <result column="user_code" property="userCode"/>
        <result column="gender" property="gender"/>
        <result column="age_period" property="agePeriod"/>
        <result column="birthday" property="birthday"/>
        <result column="age" property="age"/>
        <result column="mobile" property="mobile"/>
        <result column="register_city" property="registerCity"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
            id, user_code, gender, age_period, birthday, age, mobile, register_city
        </sql>

</mapper>
