package com.mukutech.seapersonservice.pojo.entity.dto;

import lombok.Getter;
import lombok.Setter;

import java.io.Serializable;

/**
 * <p>
 * $!{table.comment}
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Getter
@Setter
public class ${entity}DTO implements Serializable {
    private static final long serialVersionUID = 1L;
    #foreach($field in ${table.fields})
        #if("$!field.comment" != "")
        @ApiModelProperty(value = "${field.comment}")
        #end
    private ${field.propertyType} ${field.propertyName};

    #end
    ## ----------  END 字段循环遍历  ----------
}
