package com.mukutech.seapersonservice.pojo.vo;

import io.swagger.annotations.ApiModelProperty;
import com.fasterxml.jackson.annotation.JsonInclude;
import lombok.Data;

import java.io.Serializable;

/**
 * <p>
 * $!{table.comment}
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Data
@JsonInclude(JsonInclude.Include.NON_NULL)
public class ${entity}VO implements Serializable {
    private static final long serialVersionUID = 1L;
    #foreach($field in ${table.fields})
        #if("$!field.comment" != "")
        @ApiModelProperty(value = "${field.comment}")
        #end
    private ${field.propertyType} ${field.propertyName};

    #end
    ## ----------  END 字段循环遍历  ----------
}